<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="libs/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/factory.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-app="shopapp">
    <div ng-controller="myctrl">
        <input type="text" ng-model="price" placeholder="Type to Search Price Wise">
        <br>
        Sort By
        <select ng-change="doSort()" ng-model="sortby">
            <option value="-1">Select Sort</option>
            <option value="price">By Price</option>
            <option value="name">By Name</option>
        </select>
        <button ng-click="searchIt()">Search It</button>
        <ul>
            <li ng-repeat="product in products">
                {{product.name}} {{product.price}}
            </li>
        </ul>
    </div>
    
</body>
</html>